################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/BlackJack/.vs/BlackJack/v16
/Source/BlackJack/obj
/Source/.vs/Casino
/Source/BlackJack/bin/Debug/net5.0
